.container {
    --max-width: 1200px;
    --padding: 0.5rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    
}
.continer > * {
    align-self: center;
    display: flex;
    flex-direction: column;

    
}